<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Url Shortener</title>
</head>
<body>
    <section class="left">
        <div>
            <h1>URL Shortener</h1>
            <p>For all your URL shortening needs.</p>
        </div>
        <div>
            Made with &#129384; and 🔥 by Emmanuel A.
            <br><br><br>
            <a href="https://github.com/29THIR7YS3VEN/url-shortener">
                Contribute on Github
            </a>
        </div>
    </section>
    <section class="right">
        <h1>You got your link!</h1>
        <br><br>
        <input type="text" value="https://29thir7ys3ven-crispy-trout-rpv5g9r7wrw255v-5000.preview.app.github.dev/{{ link[0]['_path'] }}">
    </section>
</body>
</html>